@media only screen and (min-width:1200px)
{
div#header div.gnbTop {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; background-color: rgb(255, 80, 115);
}
#search-below-comment {
	margin-left: 0px !important;
}
.top-links {
	display: none;
}
div#header .fR li {
	height: auto;
}
.fR > li > a {
	height: auto; padding-top: inherit;
}
.nav-container {
	border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.gnbTopInner .links li img {
	display: none;
}
div#header .fR li {
	border: currentColor; border-image: none;
}
.links > li {
	padding: 0px; line-height: inherit;
}
.links > li > a {
	padding: 0px; line-height: inherit;
}
.links > li > a:hover {
	color: inherit !important; background-color: inherit;
}
.container {
	max-width: 1172px;
}
.search-wrapper-centered .form-search {
	width: inherit;
}
.cart-mini2016 {
	background: url("../images/global-minicart.png") no-repeat 0px 0px; top: -4px; width: 28px; height: 24px; position: relative;
}
.cart-con2016 {
	float: right;
}
.dropdown-toggle {
	padding: 10px 15px 20px 0px; width: 145px;
}
.dropdown-toggle .close-to-text.icon {
	margin-right: 10px;
}
.dropdown-toggle .first.icon {
	margin-left: -20px;
}
.left-hand.dropdown-menu {
	left: auto; top: 45px; right: 0px;
}
.dropdown-menu {
	padding: 15px; width: 330px; text-align: left;
}
#mini-cart-m .feature-icon-hover {
	background: rgb(255, 255, 255); padding: 5px 0px 5px 30px; top: -5px; height: 30px; right: 0px; line-height: 18px; font-size: 16px; margin-right: 0px; margin-left: 0px; position: relative;
}
.dropdown-toggle {
	width: 160px !important; padding-right: 0px !important;
}
#mini-cart-m .dropdown-menu .empty {
	padding: 30px 0px; text-align: center; color: rgb(153, 153, 153); font-size: 14px;
}
#mini-cart-m .truncated {
	margin-top: -42px; margin-left: 3px; float: left; position: relative;
}
.mini-products-list li {
	padding: 5px 0px; margin-bottom: 4px;
}
.mini-products-list li::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: "";
}
#mini-cart-m .actions {
	background: rgb(254, 249, 243); margin: 10px 0px 0px; padding: 0px; border: currentColor; border-image: none; height: 44px; text-align: left; line-height: 44px;
}
#mini-cart-m .actions .price {
	color: rgb(255, 58, 49); font-size: 16px; opacity: 1 !important;
}
#mini-cart-m .actions button {
	float: right;
}
#mini-cart-m .dropdown-menu {
	padding: 0px; width: 360px;
}
.dropdown-menu-con2016 {
	padding: 12px;
}
.direct_title2016 {
	background: rgb(249, 249, 249); height: 40px; line-height: 40px; padding-left: 9px; font-weight: bold; margin-bottom: 0px; border-bottom-color: rgb(224, 224, 224); border-left-color: rgb(123, 113, 211); border-bottom-width: 1px; border-left-width: 3px; border-bottom-style: solid; border-left-style: solid;
}
.direct_title2016 .direct_quality2016 {
	font-size: 12px; font-weight: normal; margin-right: 15px; float: right;
}
#mini-cart-m .product-name {
	width: 200px; color: rgb(255, 58, 49); overflow: hidden; font-size: 12px; margin-top: 0px !important; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.mini-products-list .product-details {
	position: relative;
}
.mini-products-list .product-details .config {
	margin-top: 18px;
}
.mini-products-list .product-details .config::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: "";
}
.mini-products-list .product-details .config input {
	background: rgb(255, 255, 255); border-radius: 0px; border: 1px solid rgb(223, 223, 223); border-image: none; width: 20px; text-align: center; color: rgb(102, 102, 102); margin-left: -1px; float: left;
}
.mini-products-list .product-details .config input[type=button] {
	background: rgb(249, 249, 249); height: 18px;
}
.mini-products-list .product-details .config input[type=text] {
	height: 16px;
}
#mini-cart-m .mini-cart-price {
	top: 0px; right: 5px; position: absolute;
}
#mini-cart-m .actions button {
	margin-right: 0px;
}
#mini-cart-m .actions .btn-gocart span span {
	background: rgb(255, 255, 255); padding: 0px !important; border: 1px solid rgb(123, 113, 211); border-image: none; width: 88px; height: 42px; color: rgb(123, 113, 211); line-height: 42px; font-family: Microsoft Yahei,STHeiti; font-size: 16px;
}
.btn-checkout.button span span {
	padding: 0px !important; width: 88px; height: 44px !important; text-align: center; color: rgb(255, 255, 255); line-height: 44px !important; font-family: Microsoft Yahei,STHeiti; font-size: 16px; background-color: rgb(123, 113, 211);
}
.totals-inner .btn-checkout.button span span {
	width: 130px; height: 68px !important; line-height: 68px !important; font-size: 26px;
}
.nav-regular {
	color: rgb(0, 0, 0); font-size: 22px; background-color: rgb(255, 255, 255);
}
.cms-index-index .nav-regular .nav-item--home > a {
	color: rgb(255, 68, 144); background-color: rgb(255, 255, 255);
}
.nav-regular .active.level0.nav-item > a {
	color: rgb(255, 68, 144); background-color: rgb(255, 255, 255);
}
.nav-mobile .current.level0.nav-item > a {
	color: rgb(255, 68, 144); background-color: rgb(255, 255, 255);
}
.nav-regular .level0.nav-item:active > a {
	background: none; border: currentColor; border-image: none; color: rgb(255, 80, 115);
}
.nav-regular .current.level0.nav-item > a {
	background: none; border: currentColor; border-image: none; color: rgb(255, 80, 115);
}
.cms-index-index .nav-regular .nav-item--home.level0.nav-item > a {
	background: none; border: currentColor; border-image: none; color: rgb(255, 80, 115);
}
.cms-index-noroute .nav-regular .nav-item--home.level0.nav-item > a {
	background: none; border: currentColor; border-image: none; color: rgb(255, 80, 115);
}
.nav-regular .level0.nav-item:hover > a {
	color: inherit; background-color: inherit;
}
.nav-mobile .level0.nav-item > a:hover {
	color: inherit; background-color: inherit;
}
.nav-regular .level0.nav-item > a {
	color: inherit;
}
.mobnav-trigger {
	line-height: 50px; font-weight: normal;
}
.nav-regular li.level0 > a {
	line-height: 50px; font-weight: normal;
}
.mobnav-trigger {
	line-height: 200%; font-weight: normal;
}
.nav-regular li.level0 > a {
	line-height: 200%; font-weight: normal;
}
#mini-cart-m {
	height: 18px; line-height: 18px; margin-top: 20px;
}
.container {
	width: 100%; min-width: 1172px;
}
.nav-container .container {
	
}
body.cms-index-index .main {
	padding-top: 0px; padding-bottom: 20px;
}
body.cms-index-defaultindex .main {
	padding-top: 0px; padding-bottom: 20px;
}
.sticky-header .nav-container {
	top: 0px; width: 100%; position: fixed; z-index: 1000; box-shadow: 0px 3px 10px rgba(0,0,0,0.15); background-color: rgb(255, 255, 255) !important;
}
.ibar_main_panel {
	background: rgb(0, 0, 0); margin: auto; top: 0px; width: 40px; right: 0px; bottom: 0px; font-family: "microsoft yahei", arial; display: block; position: fixed; z-index: 9999;
}
#nav .nav-panel--dropdown a {
	color: rgb(102, 102, 102); font-size: 14px;
}
.nav-regular .nav-item {
	text-align: center;
}
.nav-regular .nav-item--classify.nav-item {
	background: rgb(242, 242, 242); padding: 15px 24px 0px 10px;
}
.ibar_main_panel .ibar_mp_center {
	background: rgb(0, 0, 0); left: 0px; top: 50%; text-align: center; margin-top: -166px; position: absolute; z-index: 2;
}
.ibar_main_center {
	top: inherit; height: 100%;
}
.ibar_mp_center::after {
	height: 0px; clear: both; display: block; visibility: visible; content: "";
}
.ibar_mp_center li.user {
	margin-top: 10px;
}
.ibar_mp_center li.qq {
	margin-bottom: 10px;
}
.fw {
	width: 40px; height: inherit; margin-top: 0px; margin-bottom: 0px;
}
.sign-in {
	margin-right: 10px;
}
.sign-in:hover {
	text-decoration: underline;
}
#nav {
	position: relative; z-index: 2000; -webkit-transform: translateZ(0);
}
#nav::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: "";
}
.nav-regular .nav-item .nav-item {
	width: 100% !important; text-align: left;
}
.nav-regular li.level0:hover a.level-top {
	background: none; color: rgb(255, 80, 115);
}
.nav-regular li.level0 {
	line-height: 24px; padding-top: 15px;
}
div#header div.gnbTopInner {
	margin: auto; padding: 0px 14px; width: 1172px; height: 30px; color: rgb(255, 255, 255); line-height: 30px; position: relative;
}
.gnbTopInner::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: "";
}
.gnbTopInner .welcome {
	float: left;
}
.gnbTopInner .links {
	margin-left: 10px; float: left; cursor: pointer;
}
.gnbTopInner .links li {
	line-height: inherit !important;
}
.gnbTopInner .top_right.links li {
	margin-right: 16px;
}
.gnbTopInner .top_right.links li a {
	color: rgb(255, 255, 255); font-size: 12px;
}
.gnbTopInner .links li img {
	padding: 0px; width: 20px !important; height: 20px !important;
}
.gnbTopInner .links i {
	margin-right: 3px;
}
.gnbTopInner .top_right {
	float: right;
}
.header-container h1.logo {
	line-height: inherit; float: left;
}
.header-container .search-wrapper-centered {
	width: 100% !important; margin-top: 6px; margin-left: 60px; float: left;
}
#search_mini_form {
	float: left;
}
#mini-cart-m {
	
}
.hot_word {
	width: inherit; height: 30px; color: rgb(153, 153, 153); line-height: 30px; overflow: inherit; font-size: 14px; float: inherit;
}
.hot_word a {
	color: rgb(153, 153, 153);
}
#mini-cart-m {
	border: currentColor; border-image: none; top: 46px; right: 0px; position: absolute;
}
.header-primary {
	padding: 20px 0px;
}
.header-container .logo {
	float: left; max-width: inherit;
}
.header-container .logo a {
	display: block;
}
.header-container img.logo {
	width: 288px; height: 90px;
}
.header-container .form-search {
	border-radius: 20px; border: 1px solid rgb(255, 80, 115); border-image: none; width: 420px; height: 36px; line-height: 36px;
}
.header-container .form-search .input-text {
	border: currentColor; border-image: none; width: 330px; height: 36px; line-height: 36px; margin-left: 18px; float: left;
}
.header-container .form-search .delete-search-content {
	background: url("../images/newhome_icon.png") no-repeat 0px -138px; width: 15px; height: 15px; text-align: center; margin-top: 12px; float: left; display: none; cursor: pointer;
}
.header-container .form-search .delete-search-content:hover {
	background-position: 0px -158px;
}
.header-container .form-search button {
	border: currentColor; border-image: none; width: 40px; height: 36px; text-align: center; right: 8px; color: rgb(255, 80, 115); font-size: 16px; float: left; cursor: pointer;
}
.header-container .form-search button span {
	margin: 0px; padding: 0px; width: 40px; text-align: center; color: rgb(255, 255, 255); line-height: 32px; text-indent: 0px; font-size: 16px; display: block; opacity: 1; background-image: none !important;
}
.header-container .form-search button span .icon-search-in {
	background: url("../images/newhome_icon.png") no-repeat 10px -88px !important; width: 40px; height: 22px; margin-top: 6px; display: inline-block;
}
.header-container i {
	background: url("../images/home-icon.png") no-repeat left top; margin: 0px;
}
.header_countdown_banner i {
	background: url("../images/home-icon.png") no-repeat left top; margin: 0px;
}
}
i.icon-arrow-down-gray {
	background-position: 0px 0px; width: 12px; height: 6px; margin-top: 5px;
}
i.icon-arrow-left-gray-22 {
	background-position: 0px -11px; width: 22px; height: 36px;
}
i.icon-arrow-left-gray-24 {
	background-position: 0px -52px; width: 24px; height: 38px;
}
i.icon-arrow-left-gray {
	background-position: 0px -95px; width: 12px; height: 19px;
}
i.icon-arrow-right-gray-22 {
	background-position: 0px -119px; width: 22px; height: 36px;
}
i.icon-arrow-right-gray-24 {
	background-position: 0px -160px; width: 24px; height: 38px;
}
i.icon-arrow-right-white {
	background-position: 0px -203px; width: 12px; height: 19px;
}
i.icon-cart-gray {
	background-position: 0px -227px; width: 18px; height: 16px;
}
i.icon-cart-red {
	background-position: 0px -248px; width: 18px; height: 18px;
}
i.icon-cart-white {
	background-position: 0px -271px; width: 28px; height: 26px;
}
i.icon-circle-gray {
	background-position: 0px -302px; width: 16px; height: 16px;
}
i.icon-circle-red {
	background-position: 0px -323px; width: 16px; height: 16px;
}
i.icon-decorate-fresh-red {
	background-position: 0px -344px; margin: -9px -24px 0px 0px; width: 41px; height: 37px;
}
i.icon-decorate-strong-red {
	background-position: 0px -386px; margin: -15px -30px 0px 0px; width: 39px; height: 39px;
}
i.icon-explosion-red-bg {
	background-position: 0px -430px; width: 106px; height: 106px;
}
i.icon-explosion-red {
	background-position: 0px -541px; width: 106px; height: 106px;
}
i.icon-falsh-sale-cutdown {
	background-position: 0px -652px; width: 36px; height: 36px; margin-top: -12px;
}
i.icon-flash-sale-red {
	background-position: 0px -693px; margin: -13px -25px 0px 0px; width: 39px; height: 43px;
}
i.icon-everyday-look-red {
	background-position: -47px -695px; margin: -13px -25px 0px 0px; width: 85px; height: 39px;
}
i.icon-iphone-gray {
	background-position: 0px -740px; width: 9px; height: 14px;
}
i.icon-iphone-red {
	background-position: 0px -759px; width: 9px; height: 14px;
}
i.icon-logo-100 {
	background-position: 0px -778px; width: 216px; height: 72px;
}
i.icon-logo-red-512 {
	background-position: 0px -855px; width: 72px; height: 72px;
}
i.icon-me-red {
	background-position: 0px -932px; width: 14px; height: 14px;
}
i.icon-me-gray {
	background-position: -18px -932px; width: 14px; height: 14px;
}
i.icon-me-white {
	background-position: 0px -951px; width: 24px; height: 22px;
}
i.new-icon-me-white {
	background: url("../images/newhome_icon.png") no-repeat 0px -118px; width: 14px; height: 14px; vertical-align: middle; display: inline-block;
}
i.icon-memebox-white-vertical2x {
	background: url("../images/home-icon.png") no-repeat 0px -978px; width: 40px; height: 160px; margin-top: -21px; margin-left: -20px;
}
i.icon-order-gray {
	background-position: 0px -1143px; width: 11px; height: 14px;
}
i.icon-order-red {
	background-position: 0px -1162px; width: 11px; height: 14px;
}
i.icon-order-white {
	background-position: 0px -1181px; width: 22px; height: 28px;
}
i.icon-punch-gray {
	background-position: 0px -1214px; width: 13px; height: 14px;
}
i.icon-punch-red {
	background-position: 0px -1233px; width: 13px; height: 14px;
}
i.icon-service-gray {
	background-position: 0px -1252px; width: 13px; height: 14px;
}
i.icon-service-red {
	background-position: 0px -1271px; width: 13px; height: 14px;
}
i.icon-service-white {
	background-position: 0px -1290px; width: 24px; height: 27px;
}
i.icon-special-red {
	background-position: 0px -1322px; width: 106px; height: 106px;
}
i.icon-welcome-white {
	background: url("../images/newhome_icon.png") no-repeat 0px 0px; width: 15px; height: 12px;
}
i.icon-punch-white {
	background: url("../images/newhome_icon.png") no-repeat 0px -16px; width: 18px; height: 18px; margin-top: -2px; vertical-align: middle;
}
.i-cart.icon {
	background: url("../images/global-minicart.png") no-repeat 2px 10px !important; top: -6px; position: relative;
}
i.icon-service-white {
	background: url("../images/newhome_icon.png") no-repeat 0px -57px; width: 18px; height: 18px; vertical-align: middle;
}
.header-container .icon-iphone {
	background: url("../images/newhome_icon.png") no-repeat 0px -37px; width: 12px; height: 17px; vertical-align: middle;
}
.header-container .test:hover {
	
}
.qrcode {
	background: url("../images/qrdownloadcode.png") no-repeat 0px 0px / cover; border-radius: 2px; border: 2px solid rgb(255, 80, 115); border-image: none; width: 80px; height: 80px; clear: none;
}
.tongzhi {
	background: url("../images/tongzhi.png") no-repeat 0px 0px; width: 16px; height: 50px; margin-top: 10px; margin-left: 10px; float: left; display: block;
}
.qrcode {
	background: url("../images/qrdownloadcode.png") no-repeat 0px 0px / cover; border-radius: 2px; border: 2px solid rgb(255, 80, 115); border-image: none; width: 80px; height: 80px; clear: none;
}
.downloadapp {
	background: url("../images/newhome_icon.png") no-repeat 0px -192px; left: -100px; top: 35px; width: 154px; height: 105px; padding-left: 102px; position: absolute; z-index: 4000;
}
.downloadapp .qrcode-angel {
	background: url("../images/newhome_icon.png") no-repeat 0px -78px; left: 112px; top: -6px; width: 12px; height: 6px; position: absolute;
}
.downloadinfo {
	margin: 10px; width: 90px; float: right;
}
.iphonedownload {
	background: url("../images/iphone.png") no-repeat 0px 0px; width: 32px; height: 32px; float: left;
}
.iphonedownload:hover {
	background: url("../images/iphoneon.png") no-repeat 0px 0px; width: 32px; height: 32px; float: left;
}
.androiddownload {
	background: url("../images/android.png") no-repeat 0px 0px; width: 32px; height: 32px; float: right;
}
.androiddownload:hover {
	background: url("../images/androidon.png") no-repeat 0px 0px; width: 32px; height: 32px; float: right;
}
.test .arrow {
	background: url("../images/arrow.png") no-repeat 0px 0px; width: 14px; height: 7px; margin-left: 10px; display: inline-block;
}
.hidePot {
	display: none !important;
}
.mbar-aside {
	top: 0px; width: 40px; height: 100%; right: 0px; display: block; position: fixed; z-index: 9990;
}
.mbar-main-panel {
	background: rgba(3, 3, 3, 0.5); transition:left 300ms; left: 0px; top: 0px; width: 40px; height: 100%; font-family: "microsoft yahei",arial; position: absolute; z-index: 10; -moz-transition: left 300ms; -webkit-transition: left 300ms; -o-transition: left 300ms;
}
@media 
{
.mbar-main-panel {
	background-color: rgb(51, 51, 51);
}
}
.mbar-main-panel .mbar-center {
	left: 0px; top: 50%; margin-top: -190px; position: absolute; z-index: 2;
}
.mbar-main-panel .mbar-bottom {
	left: 0px; width: 40px; bottom: 46px; position: absolute; z-index: 1;
}
.mbar-main-panel ul {
	list-style: none;
}
.mbar-center li {
	height: 40px; padding-bottom: 6px; display: block; position: relative; z-index: 1;
}
.mbar-bottom li {
	height: 40px; margin-top: 6px; display: block; position: relative; z-index: 1;
}
.mbar-bottom li.me-gotop {
	visibility: hidden;
}
.mbar-center .me-cart {
	height: 123px; padding-bottom: 20px;
}
.me-cart .cart-name {
	margin: 38px 0px 0px 14px; width: 16px; height: 48px; display: block; cursor: pointer;
}
.mbar-main-panel .me-cart a {
	height: 123px; color: rgb(255, 255, 255); line-height: 16px;
}
.mbar-main-panel .active.me-cart {
	left: 0px;
}
.mbar-main-panel .active.me-cart a {
	background: rgb(237, 20, 91);
}
.me-cart .cart-num {
	background: rgb(237, 20, 91); margin: 9px 0px 0px 10px; border-radius: 50%; width: 21px; height: 21px; text-align: center; color: rgb(255, 255, 255); line-height: 21px; display: block; visibility: hidden; cursor: pointer;
}
.mbar-main-panel a {
	left: 0px; top: 0px; width: 40px; height: 38px; color: rgb(216, 216, 216); line-height: 200px; overflow: hidden; text-decoration: none; display: block; position: relative; z-index: 1;
}
.mbar-main-panel a:hover {
	background: rgb(237, 20, 91); text-decoration: none;
}
.mbar-main-panel .me-tooltip {
	left: -121px; top: 0px; width: 92px; height: 38px; text-align: center; color: rgb(216, 216, 216); line-height: 38px; display: block; visibility: hidden; position: absolute; z-index: 2; background-color: rgb(102, 102, 102);
}
.me-tooltip .arrow-l {
	border-width: 6px; border-style: solid; border-color: transparent transparent transparent rgb(102, 102, 102); border-image: none; top: 12px; width: 0px; height: 0px; right: -12px; overflow: hidden; position: absolute;
}
.mbar-login {
	background: rgb(255, 255, 255); padding: 10px; border-radius: 5px 0px 0px 5px; left: -287px; top: 50px; width: 267px; height: 185px; display: none; position: absolute; z-index: 3; box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}
.mbar-cart {
	left: 0px; top: 0px; width: 280px; border-left-color: rgba(0, 0, 0, 0.1); border-left-width: 5px; border-left-style: solid; display: none; position: absolute; z-index: 8; -ms-overflow-y: auto; min-height: 100%; -webkit-backface-visibility: hidden;
}
.cart-head {
	margin: 0px auto; padding: 0px 10px; width: 280px; height: 40px; color: rgb(3, 3, 3); line-height: 40px; font-size: 16px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid; position: relative; box-sizing: border-box; background-color: rgb(255, 255, 255); -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.mbar-cart-wrap {
	background-color: rgb(255, 255, 255);
}
.cart-head .cart-title {
	width: 203px; overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.mbar-cart-box .mbar-cart-type {
	overflow: hidden; padding-top: 10px; font-size: 14px;
}
.mbar-cart-group {
	color: rgb(102, 102, 102); font-size: 14px;
}
.hideCart {
	display: none !important;
}
.cart-overlay {
	left: 0px; top: 0px; width: 280px; height: 100%; text-align: center; margin-left: -10px; position: absolute; z-index: 11; background-color: rgba(0, 0, 0, 0.3);
}
.cart-load {
	width: 30px; height: 30px; margin-top: 50px; display: inline-block;
}
.mbar-cart-group li {
	padding: 15px 0px 15px 100px; height: 130px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid; position: relative; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.mbar-cart-group li .cart-img-box {
	width: 88px; margin-left: -100px; float: left; display: inline-block; position: relative; background-color: rgb(240, 240, 240);
}
.cart-img-box a {
	display: inline-block;
}
.mbar-cart-img {
	width: 88px; height: 95px; display: inline-block;
}
.mbar-cart-group li .mbar-cart-item {
	position: relative;
}
.mbar-cart-foot {
	padding: 5px 0px 10px; left: 10px; width: 250px; height: 47px; bottom: auto; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: dashed; position: relative; background-color: rgb(255, 255, 255);
}
.cart-sum-box {
	height: 30px; line-height: 30px; padding-bottom: 5px; font-size: 14px;
}
.cart-sum-left {
	float: left; display: inline-block;
}
.cart-sum-right {
	float: right; display: inline-block;
}
.cart-sumNum {
	color: rgb(255, 80, 115);
}
.cart-sumPrice {
	color: rgb(255, 80, 115);
}
.cart-sumNum {
	padding: 0px 5px;
}
.cart-sumPrice {
	font-size: 20px; vertical-align: bottom;
}
.mbar-cart-sum {
	padding: 5px 0px; height: 40px; line-height: 30px; font-size: 14px;
}
.mbar-cart-sum .cart-sum-left {
	width: 60%; float: left; display: inline-block;
}
.cart-sum-num {
	padding: 0px 5px; color: rgb(255, 31, 125);
}
.mbar-cart-sum .cart-sum-right {
	width: 40%; text-align: right; color: rgb(255, 31, 125); font-size: 16px; float: right;
}
a.cart-sum-pay {
	padding: 10px; border-radius: 5px; height: 22px; text-align: center; color: rgb(255, 255, 255); line-height: 22px; font-size: 16px; display: block; background-color: rgb(255, 80, 115); -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
a.cart-sum-pay:hover {
	background-color: rgb(236, 76, 108);
}
.mbar-cart-item .cart-item-name {
	height: 40px; line-height: 20px; overflow: hidden; margin-bottom: 5px;
}
.mbar-cart-item .cart-item-link {
	text-align: justify; text-decoration: none; display: inline-block; -ms-text-justify: inter-ideograph;
}
.mbar-cart-item .cart-item-link:hover {
	color: rgb(255, 80, 115);
}
.mbar-cart-item .cart-item-sum {
	height: 25px;
}
.cart-item-sum .cart-item-num {
	padding: 0px 5px; border: 0px currentColor; border-image: none; text-align: center; vertical-align: middle; display: inline-block;
}
a.cart-item-btn {
	text-decoration: none; display: inline-block;
}
.mbar-cart-item .cart-item-price {
	width: 125px; height: 25px; color: rgb(255, 80, 115); line-height: 25px; overflow: hidden;
}
.mbar-cart-item .cart-item-del {
	right: 5px; bottom: 0px; position: absolute;
}
.mbar-cart-item .cart-item-del:hover .deleteIcon {
	background-position: -177px 0px;
}
.mbar-cart-empty {
	display: none;
}
.mbar-cart-tips {
	padding: 20px 10px; text-align: center;
}
.mbar-cart-box {
	overflow: hidden; position: relative; background-color: rgb(255, 255, 255);
}
.mbar-cart-box .mbar-cart-content {
	padding: 0px 17px 0px 10px; top: 0px; width: 253px; bottom: 65px; position: absolute; -ms-overflow-x: hidden; -ms-overflow-y: auto;
}
.mabr-cart-pot {
	width: 250px;
}
.mbar-cart-freePot {
	width: 250px;
}
.mbar-tips {
	
}
@media screen and (max-width:960px)
{
.mbar-main-panel {
	left: 40px;
}
.mbar-main-panel .me-cart {
	left: -40px;
}
.mbar-main-panel .me-cart a {
	background-color: rgba(3, 3, 3, 0.5);
}
.mbar-aside .sm-panel {
	left: 0px;
}
.mbar-aside .sm-panel .me-cart {
	left: 0px;
}
.mbar-aside:hover .mbar-main-panel {
	left: 0px;
}
.mbar-aside:hover .me-cart {
	left: 0px;
}
.mbar-aside:hover .me-cart a {
	background-color: transparent;
}
.mbar-aside .sm-panel .me-cart a {
	background-color: rgb(237, 20, 91);
}
.mbar-aside:hover .me-cart a:hover {
	background-color: rgb(237, 20, 91);
}
}
.me-smallIcon {
	background: url("../images/mbar-smallICon.png") no-repeat; text-decoration: line-through; vertical-align: middle; display: inline-block; position: absolute; z-index: 10; cursor: pointer;
}
.userIcon {
	background-position: -32px 0px; left: 11px; top: 7px; width: 20px; height: 22px;
}
.cartIcon {
	background-position: 0px 0px; left: 6px; top: 11px; width: 24px; height: 22px;
}
.assetIcon {
	background-position: -86px 0px; left: 11px; top: 8px; width: 18px; height: 22px;
}
.favoriteIcon {
	background-position: -59px 0px; left: 11px; top: 8px; width: 20px; height: 22px;
}
.supportIcon {
	background-position: -112px 0px; left: 9px; top: 8px; width: 22px; height: 22px;
}
.gotopIcon {
	background-position: 0px -29px; left: 8px; top: 8px; width: 25px; height: 25px;
}
.closeCart {
	background-position: -32px -29px; top: 10px; width: 16px; height: 16px; right: 10px; font-size: 0px;
}
.deleteIcon {
	background-position: -147px 0px; width: 20px; height: 22px; position: static;
}
.correctIcon {
	background-position: -88px -60px; width: 14px; height: 13px; margin-bottom: 2px; position: static; cursor: default;
}
.noticeIcon {
	background-position: -113px -60px; width: 18px; height: 18px; margin-right: 5px; position: static;
}
a.cart-item-btn .subtrtIcon {
	background-position: -140px -29px; width: 18px; height: 18px; position: static;
}
a.cart-item-btn .plusIcon {
	background-position: -59px -29px; width: 18px; height: 18px; position: static;
}
a.cart-item-btn:hover .plusIcon {
	background-position: -113px -29px;
}
a.cart-item-btn:hover .subtrtIcon {
	background-position: -194px -29px;
}
a.disabled {
	cursor: default;
}
a.disabled.cart-item-btn:hover .subtrtIcon {
	background-position: -167px -29px; width: 18px; height: 18px; cursor: default;
}
a.disabled .subtrtIcon {
	background-position: -167px -29px; width: 18px; height: 18px; cursor: default;
}
a.disabled.cart-item-btn:hover .plusIcon {
	background-position: -86px -29px; width: 18px; height: 18px; cursor: default;
}
a.disabled .plusIcon {
	background-position: -86px -29px; width: 18px; height: 18px; cursor: default;
}
.localIcon {
	width: 18px; height: 20px; position: static;
}
.krIcon {
	width: 18px; height: 20px; position: static;
}
.ftzIcon {
	width: 18px; height: 20px; position: static;
}
.localIcon {
	background-position: 0px -60px;
}
.krIcon {
	background-position: -28px -60px; margin-bottom: 5px;
}
.ftzIcon {
	background-position: -59px -60px; margin-bottom: 5px;
}
